$color-primary : #6DC2BE;
$color-primary-light: #90C73D;
$color-primary-dark: #49838B;

$color-secondary: #6DC2BE;
$color-secondary-light: #B4D3D1;

$color-pink:#E43F6F;
$color-yellow: #F4E36F;
$color-gray: #707070;
$color-gray-light: #A0A0A0;
$color-gray-lighter : #EEF1EF;
$color-white: #fff;
$color-black: #000;


$red:#E43F6F;
$green:#90C73D;
$blue:blue;
$yellow:yellow;
$orange:#E9BA20;
$black:black;

$default-size: 1em;
$label-font-size: $default-size / 4;
$label-font-size-redo: $default-size * 2;