$color-primary : #6DC2BE;
$color-primary-light: #90C73D;
$color-primary-dark: #49838B;

$color-secondary: #6DC2BE;
$color-secondary-light: #B4D3D1;

$color-pink:#E43F6F;
$color-yellow: #F4E36F;
$color-gray: #707070;
$color-gray-light: #A0A0A0;
$color-gray-lighter : #EEF1EF;
$color-white: #fff;
$color-black: #000;
