.footer{
    height: 58rem;
    width: 100%;
    margin-top: 12rem;
    background-color: $color-primary;
    position: relative;
        
    @include respond(phone-port){height: 50rem;}

    @include respond(phone){
        display: none;
    }

    &__background{
        height: 9rem;
        width: 100%;
        margin-top: -8rem;
        position: absolute;
        z-index: 9;
    }

    &__about-us{
        width: 30%;
    }

    &__header{
        font-size: 2rem;
        color: #ffffff;
        text-align: right;
        padding-right: 5rem;
    }

    &__pragraph{
        font-size: 1.6rem;
        color: #3C424D;
        text-align: right;
        padding-right: 5rem;
    }

    &__header-secondary{
        font-size: 1.5rem;
        color: #ffffff;
        text-align: right;
        padding-right: 5rem;
    }

    &__span{
        font-size: 1.6rem;
        color: #3C424D;
        text-align: right;
        margin-right: 11rem;
        display: block;
    }

    &__app{
        width: 30%;
        height: 40rem;
    }

    &__photo{
        
        @include respond(phone-port){width: 18rem;}
    }

    &__btn{
        height: 5rem;
        width: 22rem;
        border-radius: 5rem;
        border: none;
        outline: none;
        background-color: $color-primary-light;
        color: #ffffff;
        font-size: 1.8rem;
        box-shadow: 0 2px 5px #ffffff;
        cursor: pointer;
        text-decoration: none;
    }


    &__map{
        width: 30%;
        background-color: rosybrown;
        position: relative;
    }

    &__map-photo{
        height: 50vh;
        width: 80%;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__bottom{
        height: 10rem;
        width: 100%;
        position: absolute;
        top: 100%;
        transform: translateY(-100%);
    }

    &__bottom-background{
        position: absolute;
        height: 10rem;
        width: 100%;
    }

    &__logo{
        height: 6rem;
        width: 6rem;
        position: absolute;
        right: 5%;
        top: 40%;
        z-index: 999;
    }

    &__social{
        text-align: right;
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translate(-50%, -70%);
    }

    &__icon{
        font-size: 2.5rem;
        color: $color-primary-dark;
        margin-left: 3.5rem;
        position: relative;
        z-index: 99999;
    }
}