.header{
    &.homepage{
        background-image: linear-gradient(
        to right bottom,
        rgba($color-black, 0.3),
        rgba($color-black, 0.3)),
        url(../../assets/img/PICc.png);

        position: absolute;
        top:60px;
        z-index: -10;
    }
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: center;

    &__main{
        margin: 0 3rem;
    }

    @include respond(phone){
        display: none;
    }

}

