.main{
    height: 440vh;
    width: 100%;
    position: relative;
    // background-color: rgb(230, 212, 248);
        
    @include respond(big-desktop){ height: 380vh; }
    @include respond(phone){
        display: none;
    }


    &__half-circle{
        height: 105vh;
        width: 100%;
        background-color: #fff;
        top: -9%;
        clip-path: circle(50% at 50% 100%);
        position: absolute;

        
        @include respond(big-desktop){ top: -10%; }
    }

    &__icon{
        font-size: 3rem;
        color: $color-gray;
        margin-top: -10rem;
        margin-bottom: 15rem;

        
        @include respond(big-desktop){ margin-top: -10rem; }        
    }

    &__main-section{
        height: 420vh;
        width: 75%;
        position: absolute;
        z-index: 999;
        
                
        @include respond(big-desktop){ height: 340vh; }
    }

    &__section-specialty{
        width: 100%;
    }

    &__description{
        width: 25%;
        text-align: center;

        &--paraghraph{
            font-size: 1.5rem;
            padding-top: 1rem;
            border-top: 4px solid #707070;
        }
    }

    &__section-doctors{
        height: 60vh;
        width: 85vw;
        margin-top: 8rem;
    }

    &__background{
        width: 99vw;
        margin-top: -5rem;
        margin-bottom: -30rem;
    }

    &__section-article{
        height: 80vh;
        margin-top: 10rem;
        // background-color: aquamarine;
    }

    &__section-database{
        height: 40vh;
    }

    &__section-comment{
        height: 60vh;
        width: 100%;
        margin-top: 8rem;
    }

    
    &__section-question{
        height: 70vh;
        width: 100%;
    }

    &__bg{
        width: 99vw;
        margin-top: -13rem;
        margin-bottom: -25rem;
    }
}