.mobile-main{
    display: none;

    @include respond(phone) {
        display: flex;
        flex-direction: column;
        height: 95vh;
        display: none;
    }
    @include respond(phone-small){height: 103vh;}
}