.navigation{
    height: 14rem;
    width: 100%;
    background-image: url(../../assets/img/artboard.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 2.8rem;

    @include respond(phone){
        display: none;
    }

    &__logo{
        height: 7rem;
        width: 7rem;
        margin-top: -1.5rem;
    }

    &__list{
        flex: 0 0 50%;
        position: relative;
        // margin-left: 20rem;
    }

    &__item{
        list-style-type: none;
        height: 3rem;
        transition: all .2s;

        &:hover{
            transform: scale(1.1);
        }
        
    }

    &__link{
        text-decoration: none;
        font-size: 1.8rem;
        color: #000;
        transition: all .2s;

        &:hover{
            color: $color-primary-light;
        }
    }

    &__btn{
        height: 4.5rem;
        width: 14rem;
        font-family: 'irsans';
        margin-top: -1rem;
        border-radius: 1rem;
        border: 2px solid $color-primary;
        background-color: transparent;
        outline: none;
        cursor: pointer;
    }

    &__submenu{
        height: 19rem;
        width: 120%;
        position: absolute;
        left: -28%;
        top: 30%;
        background-image: url(../../assets/img/submenu1.png);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -9;
    }

    &__sub-list{
        width: 10rem;
        background-color: rebeccapurple;
    }

    &__sub-item{
        background-color: pink;
        width: 10rem;
        font-size: 1.5rem;
        color: $color-primary;
    }

}
