.category{
    width: 50%;

    @include respond(phone-port){
        width: 81%;
    }

    @include respond(phone){
        width: 100%;
    }

    .search{
        width: 100% !important;
        height: auto; 
        margin-top: 1rem;
        margin: 0;
        @include respond(phone){ display: none; }
    }
    
    .search__box{
        width: 92%;
    }

    .suggestion{
        width: 92%;
        // left: -8%;
    }

    .search__advanced{display: none !important;}
}