.map-tools{
    height: 13rem;
    // width: 13rem;
    position: fixed;
    left: 1%;
    top: 95%;
    transform: translate(-20% ,-95%);
    transition: all .4s ease;

    &__top-pos{
        position: absolute;
        top: 5%;
    }

    &__bottom-pos{
        position: absolute;
        top: 50%;
    }

    &__main-circle{
        height: 5rem;
        width:  5rem;
        border: 1px solid $color-gray;
        border-radius: 100%;
        position: relative;
        transition: all .5s ease;

        &:hover{
            height: 6rem;
            width: 6rem;
        }
    }

    &__main-circle:hover > &__red-circle{
        @include centerABS();
    }

    &__main-circle:hover > &__gray-circle{
        top: -100%;
        left: -500%;
    }

    &__main-circle:hover > &__icon{
        font-size: 3rem;
    }

    &__main-circle:hover ~ div &__span{
        font-size: 1.1rem;
        width: 7rem;
    }

    &__gray-circle{
        height: 4rem;
        width:  4rem;
        border: 1px solid $color-gray-light;
        border-radius: 100%;
        @include centerABS();
        transition: all .5s ease;
    }

    &__red-circle{
        height: 5rem;
        width:  5rem;
        border: 1px solid $color-pink;
        border-radius: 100%;
        position: absolute;
        top: 800%;
        left: 500%;
        transition: all .5s ease;
    }

    &__icon{
        font-size: 2.5rem;
        transition: all .5s ease;
        @include centerABS();
    }

    &__circle{
        width:  8px;
        height: 8px;
        background-color: $color-pink;
        border-radius: 100%;
    }

    &__span{
        display: inline-block;
        width: 0;
        border-bottom: 1px solid $color-gray;
        font-size: 0;
        color: $color-gray;
        text-align: center;
        margin-top: -1.6rem;
    }
}