.map-toolbar{
    height: 5vh;
    width: 100%;
    background-color: #ffffff;
    // margin-top: .2rem;
    position: absolute;
    z-index: 9;

    &__btn{
        height: 3rem;
        width: 10rem;
        background-color: #ffffff;
        border-radius: 3rem;
        border: 1px solid $color-gray;
        font-size: 1.7rem;
        font-family: 'irsans';
        color: $color-gray;
        margin:0 3rem;
        transition: all .3s ease;

        &:hover{
            background-color: $color-primary-light;
            border: none;
            color: #fff;

            i{
                color: #fff;
            }
        }

        @include respond(big-desktop){
            height: 4rem;
            width: 12rem;
        }
    }

    &__reset-icon{
        color: $color-gray;
        margin-left: 1rem;
        transition: all .3s ease;
    }

    &__search{
        height: 3rem;
        width: 55%;

        @include respond(big-desktop){
            height: 4rem;
        }
    }

    &__search-icon{
        font-size: 2.5rem;
        color: $color-primary-light;
        margin-left: 5rem;
        cursor: pointer;
    }

    &__search-box{
        height: 3rem;
        width: 70%;
        background-color: #ffffff;
        border: 1px solid $color-gray;
        border-radius: 2rem;
        margin: 3rem;     
        width: 0;
        opacity: 0;
        transition: all .4s ease-in;
        // display: none;

        @include respond(big-desktop){
            height: 3.5rem
        }
    }

    &__show-searchBox{
        opacity: 1;
        width: 70%;
    }

    &__search-input{
        width:85%;
        margin: 2rem;
        height: 90%;
        text-align: right;
        font-size: 1.5rem;
        border: none;
        outline: none;

        &::placeholder{
            font-size: 1.5rem;
            color: $color-gray-light;
            font-weight: 100;
        }
    }

    &__arrow-icon{
        font-size: 2rem;
        margin: 2rem;
        color: $color-gray;
    }

    &__filter{
        width: 10%;
    }

    &__filter-icon{
        font-size: 2.2rem;
        color: $color-gray;
        cursor: pointer;

        @include respond(big-desktop){
            font-size: 2.5rem;
        }
    }
}