.map-header{
    width: 100%;
    height: 10vh;
    background-color: #f6f6f6;

    @include respond(big-desktop){
        height: 13vh;
    }
    
    &__box1{
        width:15%;
    }

    &__box2{
        width:30%;
    }

    &__box3{
        width:40%;
    }

    &__filter-main{
        height: 10vh;
        width: 20rem;
        margin-top: -1rem;
        
        @include respond(big-desktop){margin-top: 0;}
    }
    
    &__icon-box{
        height: 5rem;
        width:  5rem;
        border-radius: 100%;background-color: #fff;
        border: 2px solid $color-primary-light;
        position: relative;

        @include respond(big-desktop){
            height: 8rem;
            width: 8rem;
        }
    }

    &__icon{
        font-size: 3rem;
        color: $color-gray;
        @include centerABS();

        @include respond(big-desktop){ font-size: 4rem};
    }

    &__span{
        font-size: 1.3rem;
    }

    &__filter-box2{
        width: 15rem;
        margin-right: 1.5rem;
        position: relative;
    }

    &__filter-box3{
        width: 24rem;
        margin-right: 1.5rem;
        position: relative;
    }

    &__picked{        
        height: 5vh;
        overflow-y: scroll;
            
        &::-webkit-scrollbar {
            width: 1rem;
        }
        
        &::-webkit-scrollbar-thumb {
            color: none;
        }
    }

    &__filter-header{
        height: 5vh;
        border-bottom: 2px solid $color-gray;
        padding: 1rem;
    }

    &__filter-title{
        font-size: 1.7rem;
        font-weight: 200;
        cursor: pointer;
    }

    &__filter-optios2{
        height: 19vh;
        width: 25vh;
        position: absolute;
        top: 100%;
        left: -50%;
        left: 5;
        z-index: 99;
        background-color: #ffff;
        border-radius: 2rem;
        box-shadow: 2px 3px 5px $color-gray-light;
        overflow-y: scroll;
        overflow-x: hidden;
        display: none;

        &::-webkit-scrollbar {
            width: 1rem;
        }
        
        &::-webkit-scrollbar-thumb {
            color: none;
        }
    }

    &__filter-optios3{
        height: 19vh;
        width: 25vh;
        position: absolute;
        top: 100%;
        left: 5;
        z-index: 99;
        background-color: #ffff;
        border-radius: 2rem;
        box-shadow: 2px 3px 5px $color-gray-light;
        overflow-y: scroll;
        overflow-x: hidden;
        display: none;
        // animation: openFilter .5s;

        &::-webkit-scrollbar {
            width: 1rem;
        }
        
        &::-webkit-scrollbar-thumb {
            color: none;
        }
    }


}
