.personal-card-large{
    width: 100%;
    margin-top: 4rem;
    display: none;

    @include respond(phone){
        display: none;
    }
    
    &__main{
        width: 95%;
        height: 20rem;
        border-radius: 2.5rem;
        background-color: white;
        box-shadow: 1px 1px 6px $color-gray-light;
        margin-top: 5rem;
    }

    &__photo{
        height: 90%;
        width: 15%;
        margin: 1.5rem;
        float: right;
        position: relative;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50%);

        img{
            height: 12rem;
            width:  12rem;
            border-radius: 100%;
            border: 1px solid $color-gray;
            @include centerABS();

            @include respond(big-desktop){
                height: 15rem;
                width: 15rem;
            }
        }
    }

    &__primary-info{
        width: 50%;
        height: 18rem;
        float: right;
        
        @include respond(big-desktop){width: 55%;}

        h2{
            font-size: 2.3rem;
            color: $color-pink;
            margin-left: 4rem;
        }

        h3{
            font-size: 1.7rem;
            color:  $color-primary;
        }

        span{
            font-size: 1.3rem;
            color: $color-gray;
            margin: 5px;

            @include respond(phone-port){font-size: 1.5rem;}
        }

        i{
            font-size: 1.5rem;
            color: $color-primary;

            @include respond(phone-port){font-size: 2rem;}
        }
    }

    &__secondary-info{
        position: relative;
        height: 18rem;
        float: left;

        i{
            font-size: 2rem;
            color: $color-yellow;
            margin-top: 1rem;

            @include respond(big-desktop){font-size: 2.5rem;}
        }

        span{
            display: inline-block;
            padding: 3px 1.2rem;
            border-radius: 3rem;
            text-align: center;
            background-color: $color-primary;
            font-size: 1.3rem;
            color: white;
            
            @include respond(big-desktop){
                font-size: 1.4rem;
            }

            @include respond(phone-port){
                font-size: 1.4rem;
            }
        }
        p{
            font-size: 1.3rem;
            color: $color-gray;
            margin-left: 1.5rem;
            margin-right: 5px;

            @include respond(phone-port){font-size: 1.4rem;}
        }
        
    }
    
    &__btn{
        width: 15rem;
        height: 5rem;
        border-radius: 3rem;
        border: none;
        outline: none;
        font-size: 1.5rem;
        color: white;
        background-color: $color-primary-light;
        box-shadow: 1px 1px 5px $color-primary-light;
        position: absolute;
        top: 65%;
        cursor: pointer;
        transition: all .5s ease;

        
        @include respond(big-desktop){ width: 18rem;}

        @include respond(phone-port){
            font-size: 1.8rem;
            width: 17rem;
            height: 6rem;
            top: 64%;
        }

    }

    &__btn-pos-bottom{
        top: 90% !important;

        @include respond(phone-port){top: 88% !important;}
    }


    &__contact-open{
        top: 45% !important;

        p{
            margin-bottom: 0 !important;
        }
    }
    

    &__contact{
        position: absolute;
        top: 65%;
        transition: all .5s ease;

        i{
            font-size: 2rem;
            color: $color-primary-light;
            margin:0 1.5rem;

            @include respond(phone-port){font-size: 2.4rem;}
        }

        p{
            font-size: 1.4rem;
            color: $color-gray;
            margin-bottom: -2rem;
            transition: all .5s ease;

            @include respond(phone-port){font-size: 1.6rem;}
        }
    }
}