.result{
    width: 90%;
    direction: rtl;

    &__item{
        margin: 0;
        width: 100%;
        padding: 3rem 1rem;
        &:not(:last-of-type){
            border-bottom: 2px solid $color-secondary-light;
        }
    }

    &__set-size {
        font-size: 10em;
        border-radius: 100%;
        background-color: pink;
    }

    &__wrapper {
        @include size($default-size, $default-size);
        float: left;
        margin: 15px;
        position: relative;
        margin-right: 4rem;        
    }

    &__pie {
        @include size(100%, 100%);
        clip: rect(0, $default-size, $default-size, $default-size / 2);
        left: 0;
        position: absolute;
        top: 0;
    }

    &__half-circle {
        @include size(100%, 100%);
        border: ($default-size / 18) solid #3498db;
        border-radius: 50%;
        clip: rect(0, $default-size / 2, $default-size, 0);
        left: 0;
        position: absolute;
        top: 0;
    }
    
    &__label {
        background: white;
        border-radius: 50%;
        bottom: $label-font-size-redo / 10;
        color: $color-gray;
        box-shadow: 0 0 5px $color-gray;
        cursor: default;
        display: block;
        font-size: 2rem;
        left: $label-font-size-redo / 10;
        position: absolute;
        right: $label-font-size-redo / 10;
        text-align: center;
        top: $label-font-size-redo / 10;
        padding: 3rem;
    }
    
    &__progress-30 {
        @include draw-progress(30, $color-pink);
    }

    &__progress-45 {
        @include draw-progress(45, $color-yellow);
    }

    &__progress-70 {
        @include draw-progress(70, $color-primary-light);
    }

    i{
        font-size: 2.5rem;
        color: $color-primary-dark;
        margin-left: 6rem;
    }
    
    a,
    a:link,
    a:visited{
        font-size: 1.6rem;
        text-decoration: none;
        color: $color-gray;
        width: 65%;
        text-align: right;
    }

    &__tab{
        border-bottom: 2px solid $color-gray-light;
        direction: rtl;

        a{
            width: 16%;
            background-color: $color-secondary-light;
            color: white;
            padding:1rem 3rem;

            &::after,
            &::before{
                background-color: $color-secondary-light;
                border-color:  $color-secondary-light;
            }

            &:hover{
                background-color: $color-secondary-light;
                &::after,
                &::before{
                    background-color: $color-secondary-light;
                    border-color:  $color-secondary-light;
                }
    

            }
        }
    }

    h3{
        font-size: 1.6rem;
        font-weight: 500;
        color: $color-pink;
        padding: 1rem;
        border-bottom: 2px solid $color-gray-light;
    }

    p{
        font-size: 1.4rem;
        margin: 1rem 0;
        color: $color-primary-dark;
    }

    &__circle{
        width: 15rem;
        height:15rem;
        border: 2px dashed $color-gray;
        border-radius: 100%;
        position: relative;

        .bar{
            width:  12rem;
            height: 12rem;
            position: relative;
            @include centerABS();
        }

    }
    
    #top {
        position: absolute;
        text-align: center;
        height: 40px;
        width: 100px;
        left: 33%;
        top: -12%;
        border-top: 1px solid $color-gray;
        font-size: 1.6rem;
        text-align: right;
        color: $color-gray;
                
        span{
            position: absolute;
            left: 115%;
            top: -40%;
        }
      }
      #top:after {
        content: '';
        position: absolute;
        right: 0;
        height: 20px;
        // width: 50%;
        left: -14px;
        transform: skew(-30deg, 0deg);
        border-left: 1px solid $color-gray;
        border-radius: 10px 0 0 0;
      }
      
    #bottom {
        position: absolute;
        text-align: center;
        height: 20px;
        width: 110px;
        left: 30%;
        top: 100%;
        border-bottom: 1px solid $color-gray;
        font-size: 1.6rem;
        text-align: right;
        color: $color-gray;
        padding-bottom: 2rem;
        
        span{
            position: absolute;
            left: 115%;
            top: 15%;
        }
      }
      #bottom:after {
        content: '';
        position: absolute;
        right: 0;
        height: 20px;
        // width: 50%;
        left: -8px;
        transform: skew(30deg, 0deg);
        border-left: 1px solid $color-gray;
        border-radius: 10px 0 0 0;
        // transform: rotate(0deg);
      }

}
