.right-side{
    position: fixed;
    left: 86%;
    top: 30%;
    z-index: 99;
    
    @include respond(big-desktop){left: 85%;}
    @include respond(phone-port){left: 81%;}
    @include respond(phone){display: none;}
            
    &__btn{
        height: 6rem;
        width: 6rem;
        border-radius: 100%;
        background-color: rgba($color: $color-white, $alpha: .3);
        border: 2px solid $color-gray-light;
        outline: none;
        position: relative;
        cursor: pointer;
        text-decoration: none;
        transition: all .3s ease-in;

        
        @include respond(big-desktop){
            height: 6.5rem;
            width: 6.5rem;
        }
        

        &:not(:last-child){
            margin-bottom: 2rem;
        }

        &:hover{
            box-shadow:
            0 0 0 2px #ffffff, 
            0 0 0 4px $color-gray-light;
            
            @include respond(big-desktop){
                box-shadow:
                    0 0 0 4px #ffffff, 
                    0 0 0 6px $color-gray-light;
            }
        }
    }

    &__photo{
        height: 3rem;
        width: 3rem;
        @include centerABS();
        
        @include respond(big-desktop){
            height: 3.5rem;
            width: 3.5rem;
        }
    }

    &__span{
        display: inline-block;
        width: 13rem;
        font-size: 1.5rem;
        color: $color-gray;
        text-align: center;
        border-bottom: 2px solid $color-gray-light;
        margin-bottom: 4rem;
        
        @include respond(big-desktop){
            width: 17rem;
            font-size: 1.7rem;
        }
    }

    &__circle{
        height: 1rem;
        width: 1rem;
        border-radius: 100%;
        background-color: $color-gray-light;
        margin-bottom: 1.2rem;
    }

    &__tips{
        opacity: 0;
        transition: all .4s ease-in;
    }

    &__btn-1:hover + &__tips-1{
        opacity: 100;
    }
    &__btn-2:hover + &__tips-2{
        opacity: 100;
    }
    &__btn-3:hover + &__tips-3{
        opacity: 100;
    }
    &__btn-4:hover + &__tips-4{
        opacity: 100;
    }
}