
.container {
    margin: 0 auto;
    width: 98%;

    .select2 {
        width: 100% !important;
        direction: rtl !important;
        // height: 3.5rem;
        border-radius: 8px;
        border: none;
        outline: none;
        padding: 0 5px;
        font-size: 1.5rem;
        color: $color-gray;
        
        @include respond(phone-port){font-size: 1.8rem;}

        @include respond(phone){font-size: 2rem;}

    }
      
    
    .select2-container {

        .select2-selection--single {
            height: 90%;
            position: relative;
            outline: none;
            border: none;

            .select2-selection__rendered {
                line-height: 3rem;
            }

    
            .select2-selection__arrow {
                top: 50%;
                right: 82%;
                transform: translate(-82%, -50%);
            }

            .select2-container--default {
                .select2-results > .select2-results__options {
                    -webkit-overflow-scrolling: touch; /* use momentum scrolling */
                }
            }
        }
    }
}


.select2-results__options {
    font-size: 14px !important;
}

.select2-results__option {
    padding: 6px 15px;
    user-select: none;
    -webkit-user-select: none; 
    transition: all .3s ease;
    cursor: pointer;
}
.select2-results__option:hover {
    background-color: #6DC2BE;
    color: white;
    font-size: 16px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #B4D3D1;
    color: white;
    border: 1px solid #49838B;
    border-radius: 8px;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 2px 5px; 
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 0 8px; }
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    /* background-color: #f1f1f1; */
    color: #49838B;
    outline: none; 
}
	
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    border-left: 1px solid #49838B;
    margin-left: 5px;
}


.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: none !important;
  outline: 0; 
}

.select2-container--default .select2-selection--multiple{
    border: none !important;
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto; 
}
.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em; 
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: $color-primary;
}
