.service{
    height: 50vh;
    width: 15rem;
    position: fixed;
    // left: 0%;
    top: 25%;
        
    @include respond(phone-port){top: 35%;}
    
    @include respond(phone){
        display: none;
    }

    &__left-border{
        height: 40vh;
        width: 4rem;
        @include centerABS;
        border-left: 2px solid $color-gray-light;

        @include respond(big-desktop){
            height: 35rem
        }
        
        @include respond(phone-port){
            width: 6rem;
            height: 30rem;
        }
    }

    &__logo-box{
        height: 6rem;
        width:  6rem;
        background-color: #fff;
        border-radius: 100%;
        border: 1px solid $color-gray-light;
        margin-top: 2rem;
        position: relative;
        left: -50%;
        cursor: pointer;
        
        @include respond(big-desktop){
            height: 6.5rem;
            width:  6.5rem;
            margin-top: 3rem;
            left: -90%;
        }
    }

    &__circle{
        height: 3rem;
        width:  3rem;
        background-color: $color-primary;
        border-radius: 100%;
        border: 5px solid #d9d9d9;
        margin-top: 3rem;
        position: relative;
        left: -30%;
        
        @include respond(big-desktop){
            height: 4rem;
            width: 4rem;
        }
    }

    &__icon{
        font-size: 3rem;
        color: $color-gray;
        @include centerABS;
        
        @include respond(big-desktop){font-size: 3.5rem;}
    }
}