.suggestion{
    height: 30rem;
    width: 65%;
    border-radius: 5rem;
    position: relative;
    background-color: rgba($color: #000000, $alpha: .4);
    left: -7%;
    margin-top: -2.5rem;
    overflow-y: scroll;
    z-index: 999;
    display: none;

    &::-webkit-scrollbar {
        width: 1rem;
    }
      
    &::-webkit-scrollbar-thumb {
        color: none;
    }

    &__box{
        width: 100%;
        padding: 1rem;
    }

    a,
    a:link,a:visited{
        text-decoration: none;
        // color: white;
    }

    &__header{
        font-size: 1.4rem;
        color: #fff;
        font-weight: 100;
        margin-bottom: 1rem;
    }

    &__icon{
        padding-right: 1rem;
    }

    &__item{
        font-size: 1.5rem;
        color: #fff;
        margin: .3rem;
    }

    &__recent-search{
        border-bottom: 1px solid #fff;
        padding-bottom: 1rem;
        margin: 1.5rem 2.5rem;

        &--item{
            background-color: #fff;
            padding: 5px 1.5rem;
            border-radius: 2rem;
            margin-left: 1rem;
            text-align: center;
            font-size: 1.6rem;
            color: $color-gray;
            margin-bottom: 1rem;
        }
    }

    &__related-words{
        height: 15rem;
        margin: 1rem 2.5rem;
        position: relative;

        &--items{
            width: 90%;
            border-bottom: 1px solid #fff;
            margin: 1rem 10%; 
            padding-bottom: 1rem;
        }

        &--btn{
            position: absolute;
            left: 5%;
            top: 70%;
            background-color: transparent;
            border: none;
            outline: none;
            color: $color-primary-light;
            font-size: 1.7rem;
            cursor: pointer;
        }
    }

    &__article{
        // height: 5vh;
        position: relative;

        &--icon{
            font-size: 3rem;
            color: $color-primary;
            margin: 0  5%;
        }

        &--items{
            width: 82%;
            border-bottom: 1px solid #fff;
            padding-bottom: 1rem;
        }
    }

    &__hospital{
        position: relative;

        &--icon{
            font-size: 3rem;
            color: $color-pink;
            margin: 0  5%;
        }

        &--items{
            width: 82%;
            border-bottom: 1px solid #fff;
            padding-bottom: 1rem;
        }
    }

    &__chat{
        position: relative;
        padding-bottom: 1rem;

        &--icon{
            font-size: 3rem;
            color: $color-primary-light;
            margin: 0  5%;
        }

    }
}