.tabs{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
}

.tabs:after {
    clear: both;
    content: '';
    display: table;
}

.tabs .tab {
    display: inline;    
}

.tabs .tab-label {
    font-size: 18px;
    vertical-align: bottom;
    // border: 3px solid $color-primary;
    padding: 15px 25px 8px;
    background-color: $color-primary;
    margin-right: -9px;
    display: inline-block;
    position: relative;
    z-index: 0;
    color: #fff;
}

.tabs .tab-label:before,
.tabs .tab-label:after {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    width: 33px;  
    background-color: $color-primary;
}

.tabs .tab-label:before {
    left: -17px;
    transform: skew(-30deg, 0deg);
    border-left: 1px solid $color-primary;
}
.tabs .tab-label:after {
    right: -17px;
    transform: skew(30deg, 0deg);
    border-right: 1px solid $color-primary;
}

.tabs .tab-label:before {
    border-radius: 10px 0 0 0;
}
.tabs .tab-label:after {
    border-radius: 0 10px 0 0;
}

.recipe-tab li.selected:before,
.recipe-tab li.selected:after{
    background: $color-primary;
    border-bottom: 3px solid #ffffff;
}

.tabs .tab [type="radio"]:hover:checked + .tab-label,
.tabs .tab-label:hover,
.tabs .tab-label:hover:before,
.tabs .tab-label:hover:after {
    cursor: pointer;
}

.tabs .tab > [type="radio"] {
    clip: rect(0 0 0 0);
    height: 1px;
    opacity: 0;
    position: fixed;
    width: 1px;
    z-index: -1;
}

.tabs .tab-panel {
    display: inline;
    display: inline-block;
    overflow: hidden;
    position: relative;
    height: 0;
    width: 0;
}

.tabs .tab-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    background: white;
    border-radius: 15px;
    // padding: 50px;
    float: left;
    width: 100%;
    text-align: left;
}


.tabs .tab [type="radio"]:checked + .tab-label {
    background: white;
    border-bottom-width: 0;
    padding-bottom: 11px;
    z-index: 1;
    color: $color-primary;
    border-top: 1px solid $color-primary;
    border-radius: 8px 8px 0 0;
}

.tabs .tab [type="radio"]:checked + .tab-label::after {
    background: white;
    border-bottom-width: 0;
    padding-bottom: 11px;
    z-index: 1;
}  

.tabs .tab [type="radio"]:checked + .tab-label::before {
    background: white;
    border-bottom-width: 0;
    padding-bottom: 11px;
    z-index: 1;
}   

.tabs .tab .tab-label .word-recipe{
    display:none;
}

.tabs .tab [type="radio"]:checked + .tab-label .word-recipe{
    display:inline;
}

.tabs .tab [type="radio"]:checked ~ .tab-panel {
    display: inline;
}