.tab-ofoghi{
    &__tab{
        width: 100%;
        background-color: #fff;
        border-radius: 2rem;
        box-shadow: -1px 0 5px $color-gray-light;
        position: relative;
        height: auto;
        z-index: 99;
    }
    &__container{
        width: 100%;
    }

    &__box{
        width: 106%;
        background-color: #fff;
        margin-top: 2rem;
        border-radius: 1rem 0 0 1rem;
        box-shadow: -2px 2px 8px $color-gray-light;
        cursor: pointer;
        
        @include respond(big-desktop){width: 108%;}
        @include respond(phone){
            width: 100%;
            background-color: #fff;
            margin-top: 1rem;
            border-radius: 1rem;
            box-shadow: -2px 2px 8px $color-gray-light;
        }
    }

    &__header{
        height: 7.5rem;
    }

    &__title{
        text-align: right;
        padding-right: 1.8rem;
        font-size: 1.7rem;
        font-weight: 200;
        color: $color-gray-light;
        transition: all .5s;

        
        @include respond(big-desktop){
            font-size: 2rem;
        }
        @include respond(phone){
            text-align: right;
            padding-right: 1.8rem;
            font-size: 2.5rem;
            font-weight: 200;
            color: $color-primary;
            transition: all .5s;
        }
    }

    &__btn{
        height: 4rem;
        width:  4rem;
        border-radius: 100%;
        background-color: #d9d9d9;
        left: 4.5%;
        position: relative;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all .5s;
        
        @include respond(big-desktop){
            height: 5rem;
            width: 5rem;
            left: 5%;
        }

        @include respond(phone){
            height: 5rem;
            width:  5rem;
            border-radius: 100%;
            background-color: #d9d9d9;
            left: 8%;
            position: relative;
            border: none;
            outline: none;
            cursor: pointer;
            transition: all .5s;
        }
    }

    &__logo{
        @include centerABS();
        font-size: 2.5rem;
        color: #fff;
        
        @include respond(big-desktop){font-size: 3rem;}
        @include respond(phone){font-size: 3rem;}
    }

    &__logo-active{
        @include centerABS();
        font-size: 2.5rem;
        color: #fff;
        display: none;
        
        @include respond(big-desktop){font-size: 3rem;}
        @include respond(phone){font-size: 3rem;}
    }

    &__text{
        direction: rtl;
        height: 0;
        overflow: hidden;
        transition: all 1s ease;
    }

    &__pragraph{
        direction: rtl;
        text-align: right;
        font-size: 1.5rem;
        padding: 2.5rem;
        color: $color-gray;
        line-height: 5rem;
        // opacity: 0;
        // display: none;
        transition: all 1s ease;
        
    }
}

.activate{

    &>:first-child{
        @include respond(phone){
            background-color: $color-primary !important;  
        }      
    }

    &>:last-child{
        height: 48vh;        
        overflow-y: scroll;

        & div{
            text-align: right;
            font-size: 1.5rem;
            padding: 2.5rem;
            color: $color-gray;
            line-height: 5rem;

            @include respond(phone){
                text-align: right;
                font-size: 2.2rem;
                padding: 2.5rem;
                color: $color-gray;
                line-height: 5rem;
            }
        }
        
        &::-webkit-scrollbar {
            width: 1rem;
        }
        
        &::-webkit-scrollbar-thumb {
            color: none;
        }
        
        @include respond(big-desktop){height: 40vh;}
        @include respond(phone){height: 40rem;}

    }

    & button{
        background-color: $color-primary-light !important;
    }

    & h2{
        width: 50%;
        font-size: 2rem;
        color: $color-primary;
        padding: 2rem;
        border-bottom: 3px solid $color-primary;
        
        @include respond(big-desktop){
            font-size: 2.2rem;
            padding: 2rem;
        }

        @include respond(phone){
            font-size: 2.8rem !important;
            border-bottom: none;
            color: #fff !important;
            padding: 2rem;
            width: 70%;
        }
    }

    & p{
        
        text-align: right;
        font-size: 1.7rem;
        padding: 2.5rem;
        color: $color-gray;
        line-height: 5rem;
        
        @include respond(phone){
            text-align: right;
            font-size: 2.2rem;
            padding: 2.5rem;
            color: $color-primary;
            line-height: 5rem;
        }
    }

    & i{
        &:first-child{
            display: none;
        }

        &:last-child{
            display: inline-block;
        }
    }
}

  