.visit{
    width: 100%;    
    height: 70rem;
    background-color: #B4D3D1;
    position: relative;
    border-radius: 2rem;
    margin-bottom: 5rem;

    &__container{
        width: 96%;
        height: 94%;
        background-color: #fff;
        border-radius: 2rem;
        box-shadow: 0 0 6px $color-gray-light;
        @include centerABS();
        overflow-y: scroll;
                
        &::-webkit-scrollbar {
            width: 1rem;
        }
        
        &::-webkit-scrollbar-thumb {
            color: none;
        }
        
    }

    &__header{
        width: 80%;
        font-size: 1.5rem;
        letter-spacing: 2px;
        text-align: center;
        padding: 2rem;
        border-bottom: 2px solid $color-gray-light;

        @include respond(phone){font-size: 2rem;}
    }

    &__main{
        width: 80%;
        height: 45rem;
        margin-top: 3rem;

        @include respond(phone){
            flex-direction: column;
            height: 65rem;
        }
    }

    &__search-box{
        position: relative;
    }

    &__search{
        width: 30rem;
        height: 4rem;
        border-radius: 1rem;
        background-color: white;
        box-shadow: 0 1px 5px $color-gray-light;
        padding: 0 5px;

        @include respond(phone){
            width: 50rem;
            height: 8rem;

            i{
                font-size: 3rem !important;
            }
        }

        input{
            height: 3rem;
            width: 90%;
            border: none;
            outline: none;
            text-align: right;
            direction: rtl;

            @include respond(phone){
                height: 100%;
                font-size: 2.8rem !important;

                &::placeholder{
                    font-size: 2.3rem;
                }
            }

            &::placeholder{
                color: $color-gray-light;
            }
        }

        i{
            font-size: 2rem;
            color: $color-primary;
            margin: 1rem;
        }
    }

    &__option{
        width: 30rem;
        height: 0;
        border-radius: 1rem;
        box-shadow: 1px 1px 5px $color-gray-light;
        background-color: white;
        overflow-y: scroll;
        position: absolute;
        top: 16%;
        transition: all .6s ease;
        z-index: 9999;

        @include respond(phone){
            width: 50rem;
        }
    
        &::-webkit-scrollbar-track{
            border-radius: 10px;
            position: absolute;
        }
    
        &::-webkit-scrollbar{
            width: 6px;
        }
    
        &::-webkit-scrollbar-thumb{
            border-radius: 10px;
            background-color: #cccccc;
        }
    }

    &__option-list{
        list-style-type: none;
        text-align: right;


        li{
            // margin: 6px;
            width: 100%;
            border-bottom: 1px solid $color-secondary-light;
            padding: 0 1.5rem;
            height: 5rem;
            transition: all .3s;
            font-size: 1.4rem;
            color: $color-gray;
            background-color: white;
            cursor: pointer;

            @include respond(phone){
                font-size: 2.3rem;
                height: 9rem;
            }

            &:hover{
                background-color: $color-secondary;
                box-shadow: 1px 1px 5px $color-gray-light;
                color: white;
                font-size: 1.6rem;

                @include respond(phone){ font-size: 2.4rem;}
            }
        }
    }

    &__selected{
        height: 25rem;
        margin-top: 1rem;

        @include respond(phone){height: 40rem;}
    }

    &__item-selected{
        font-size: 1.8rem;
        color: $color-secondary;
        margin-right: 1rem;
        cursor: pointer;

        @include respond(phone){
            font-size: 2.5rem;
            line-height: 5.5rem;
        }
        
        i{
            margin-left: 1rem;
        }
    }

    &__circle{
        width:  16rem;
        height: 16rem;
        border-radius: 100%;
        background-color: white;
        box-shadow: 0 1px 5px $color-gray-light;

        @include respond(phone){
            width: 14rem;
            height:14rem;

            a{font-size: 2rem !important;}
        }
        
        a,
        a:link,
        a:visited{
            text-decoration: none;
            font-size: 1.7rem;
            color: $color-gray;
        }
        
        i{
            font-size: 4rem;
            color: $color-primary;
        }
    }

    &_buttons{
        width: 80%;
        margin-top: 3rem;

        button{
            width: 14rem;
            height: 5rem;
            border-radius: 3rem;
            border: none;
            font-size: 1.5rem;

            @include respond(phone){
                width: 18rem;
                height: 6.5rem;
                font-size: 2.2rem;
            }
        }
    }

    &__nxt-btn{
        background-color: $color-primary-light;
        color: white;
        box-shadow: 1px 2px 5px $color-primary-light;

        i{
            font-size: 2.5rem;
            margin-right: 1rem;
        }
    }

    &__prev-btn{
        background-color: $color-gray-lighter;
        color: $color-gray;
        box-shadow: 1px 2px 5px $color-gray-light;

        i{
            font-size: 2rem;
            margin-left: 1rem;
        }
    }

    &__svg{
        color: $color-primary;
    }

}