.visit{
    width: 100%;    
    height: 65rem;
    background-color: #B4D3D1;
    position: relative;
    border-radius: 2rem;
    margin-bottom: 5rem;

    &__container{
        width: 96%;
        height: 94%;
        background-color: #fff;
        border-radius: 2rem;
        box-shadow: 0 0 6px $color-gray-light;
        @include centerABS();
        overflow-y: scroll;
                
        &::-webkit-scrollbar {
            width: 1rem;
        }
        
        &::-webkit-scrollbar-thumb {
            color: none;
        }
        
    }

    &__header{
        width: 80%;
        font-size: 1.5rem;
        letter-spacing: 2px;
        text-align: center;
        padding: 2rem;
        border-bottom: 2px solid $color-gray-light;
    }

    &__main{
        width: 80%;
        height: 30rem;
    }

    &__search{
        width: 23rem;
        height: 4rem;
        border-radius: 1rem;
        background-color: white;
        box-shadow: 0 1px 5px $color-gray-light;

        input{
            height: 3rem;
            width: 80%;
            border: none;
            outline: none;
            text-align: right;

            &::placeholder{
                color: $color-gray-light;
            }
        }

        i{
            font-size: 2rem;
            color: $color-primary;
            margin-left: 1rem;
        }
    }

    &__selected{
        height: 25rem;
    }

    &__circle{
        width:  16rem;
        height: 16rem;
        border-radius: 100%;
        background-color: white;
        box-shadow: 0 1px 5px $color-gray-light;
        
        a,
        a:link,
        a:visited{
            text-decoration: none;
            font-size: 1.7rem;
            color: $color-gray;
        }
        
        i{
            font-size: 4rem;
            color: $color-primary;
        }
    }

    &_buttons{
        width: 80%;

        button{
            width: 14rem;
            height: 5rem;
            border-radius: 3rem;
            border: none;
            font-size: 1.5rem;
        }
    }

    &__nxt-btn{
        background-color: $color-primary-light;
        color: white;
        box-shadow: 1px 2px 5px $color-primary-light;

        i{
            font-size: 2.5rem;
            margin-right: 1rem;
        }
    }

    &__prev-btn{
        background-color: $color-gray-lighter;
        color: $color-gray;
        box-shadow: 1px 2px 5px $color-gray-light;

        i{
            font-size: 2rem;
            margin-left: 1rem;
        }
    }

}